<!DOCTYPE html>
  <head>
    <title>Christmas</title>
  </head>
  <body>
    <h1>It's almost Christmas!</h1>
    <p>Are you feeling Christmassy yet?</p>
    <h2>Christmas Checklist:</h2>
    <p>
    <ul>
      <li class ="t-checklist">Put up the decorations</li>
      <li class ="t-checklist">Write a letter to Father Christmas</li>
      <li class ="t-checklist">Buy presents</li>
      <li class ="t-checklist">Wrap presents</li>
      <li class ="t-checklist">Write Christmas Cards</li>
      <li class ="t-checklist">Watch some Christmas Films</li>
      <li class ="t-checklist">Listen to Christmas Music</li>
      <li class ="t-checklist">Leave a mince pie and carrot out for Father Christmas and Ruldolph</li>
    </ul>
    </p>
    <h2>Ideas for Christmas Dinner</h2>
    <h3>Starters:</h3>
    <ul>
      <li class = 't-starters'>Soup</li>
      <li class = 't-starters'>Prawn Cocktail</li>
      <li class = 't-starters'>Salmon Blinis</li>
      <li class = 't-starters'>Pate or Parfait</li>
    </ul>
    <h3>Center Piece:</h3>
    <ul>
      <li class = 't-center-pieces'>Turkey</li>
      <li class = 't-center-pieces'>Gammon</li>
      <li class = 't-center-pieces'>Nutroast</li>
      <li class = 't-center-pieces'>Roast Beef</li>
      <li class = 't-center-pieces'>Christmas Pie</li>
    </ul>
    <h3>Side Dishes:</h3>
    <ul>
    <li class = 't-side-dishes'>Roast Potatoes</li>
    <li class = 't-side-dishes'>Cauliflower Cheese</li>
    <li class = 't-side-dishes'>Honey Roasted Parsnips</li>
    <li class = 't-side-dishes'>Brussel Sprouts</li>
    <li class = 't-side-dishes'>Stuffing</li>
    <li class = 't-side-dishes'>Yorkshire Pudding</li>
    <li class = 't-side-dishes'>Parsnip Bake</li>
  </ul>
  </body>
</html>