<!DOCTYPE html>
  <head>
    <title>Christmas</title>
  </head>
  <body>
    <h1>It's almost Christmas!</h1>
    <p>Are you feeling Christmassy yet?</p>
    <h2>Christmas Checklist:</h2>
    <p>
    <ul>
      <li>Put up the decorations</li>
      <li>Write a letter to Father Christmas</li>
      <li>Buy presents</li>
      <li>Wrap presents</li>
      <li>Write Christmas Cards</li>
      <li>Watch some Christmas Films</li>
      <li>Listen to Christmas Music</li>
      <li>Leave a mince pie and carrot out for Father Christmas and Ruldolph</li>
    </ul>
    </p>
  </body>
</html>